doctype html
//
    Review of my 2014 
    >> a simple year with 365 days, a complex year with all kinds of feelings

    This is a collection of pieces of memory:
        noncontinuous explicitly;
    This is a set of keywords of trifles:
        negligible seemingly;
    This is a map of footprints of life:
        e

    In this simple web page, I reviewed the year past.

    This page is a mobile-first designed, responsive page. 
    Features need a modern web broswer to render and display.
        
html
    head
        title= title
        //- Meta inforamtion
        meta(charset='utf-8')
        meta(name='viewport', content="initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name='author', content='Jack Q')
        meta(name='windows-target', content='_top')
        //- Stylesheets
        link(rel='stylesheet', href='/stylesheets/style.css')
        block extraStylesheets
        //- Quick link icons
        link(rel='icon', type='image/x-icon', href='favicon.ico')
        link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    body
        block content